.v__sale {
    max-width: 1000px;
    width: 100%;
}

header .top {
    max-width: 1000px;
    width: 100%;
}
.sas {
    background-color: #EDEDF5;
    text-align: center;
}

.container {
    max-width: 1000px;
}

.img__shop2 {
    width: 40px;
    text-align: center;
}

.main {
    margin-top: 14px;
    text-align: center;
}

.card {
    margin-bottom: 30px;
    margin-right: 60px;
    display: inline-block;
}

.footer {
    background-color: beige;
    height: 125px;
    text-align: center;
    padding: 30px;
}

.img__shop {
    display: block;
    /* margin-bottom: 20px; */
    margin-right: 15px;
}

.n {
    text-align: center;
}

.otdel {
    padding: 10%;
}

.ok {
    margin-top: 30px;
    margin-bottom: 30px;
}

.c2 {
    display: block;
    margin: 0 auto;
}

.main2 {
    padding: 7%;
}

@media screen and (max-width: 989px){
    .card {
        margin: 0 auto;
        margin-bottom: 30px;
        display: block;
        margin-bottom: 20pxpx;
    }
    .d-flex {
        margin-top: 15px;
    }
}